<template>
  <div class="card" v-on:click="hidden = !hidden">
    <transition name="flipper">
      <div v-if="hidden" class="back" key="back"></div>
      <div v-else class="front" key="front"></div>
    </transition>
    </div>
</template>

<script>
export default {
  name: 'card',
  data () {
    return {
      hidden: true,
      number: 0,
    }
  }
}
</script>

<style lang="scss" scoped>
  $card-width: 50px;
  $card-height: calc(#{$card-width} * 1.5);
  
  .card {
    position: absolute;
    perspective: 1000px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
/*
    &::after, &::before {
      position: absolute;
      top: 2px;
      left: 2px;
      content: '';
      width: $card-width;
      height: $card-height;
      background-image: url('../assets/card_back_sprite.png'); 
      background-size: 100%;
    }
    &::before {
      top: -2px;
      left: -2px;
    }
  */
  }

  .front {
    z-index: 2;
    background-image: url('../assets/card_front_sprite.png');
  }
  .back {
    background-image: url('../assets/card_back_sprite.png');    
  }
  .card, .front, .back {
    width: $card-width;
    height: $card-height;
  }
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    background-size: 100%;
  }
  .flipper-enter-active, .flipper-leave-active {
    transition: 0.6s;
  }
  .flipper-enter, .flipper-leave-to {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  .flipper-leave, .flipper-enter-to {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }

</style>
