<template>
  <div id="chat">
    <div id="messageContainer">
      <div id="messages">
        <template v-for="item in messages">
          <div :key="item.index" class="message">
            <span class="username"> {{ item.username }}: </span> 
            <span class="message">{{ item.message}} </span>
          </div>
        </template>
      </div>
    </div>
    <input @keyup.enter="postMessage" v-model.trim="myMessage" id="inputChat" type="text"/>
  </div>
</template>

<script>
export default {
  name: 'chat',
  props: [
    'username'
  ],
  data () {
    return {
      myMessage: '',
      messages: [
        { username: "Judith", message: "Hallo" },
        { username: "Judith", message: "ne Runde Poker jemand?" },
        { username: "Judith", message: "nein?" },
        { username: "Judith", message: "ok" }
      ]
    }
  },
  updated() {    
    const el = this.$el.querySelector("#messageContainer");
    el.scrollTop = el.scrollHeight + 50;
  },
  methods: {
    postMessage: function () {
      console.log("test");
      if(this.myMessage.trim()) {
        this.messages.push( {username: this.username, message: this.myMessage } );
        this.myMessage = "";
      }

    }
  }
}
</script>

<style lang="scss" scoped>
#chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 3px;
  padding: 10px;
  width: 400px;
  text-align: left;
}
#messageContainer {
  height: 200px;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#messages {
  // position: absolute;
  display: flex;
  flex-direction: column;
  height: auto;
  bottom: 0;
}
.username {
  font-weight: bold;
}
#inputChat {
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  border: 2px solid #34495e;
  border-radius: 2px;
  padding: 5px;
  height: 30px;
  opacity: 0;
}
#inputChat:focus {
  outline: none;
}
#chat:hover { 
   & #inputChat {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  & #messageContainer {
    overflow-y: scroll;
  }
}
</style>
