<template>
  <div>
    <button class="btn" id="btnFold"></button>
    <button class="btn" id="btnCheck"></button>
    <button class="btn" id="btnRaise"></button>
    <div id="mySeat">
      <div class="card"></div>
      <div class="card"></div>
      <div id="myCoins"><img id="chipImage" src="../assets/chip.png"/>{{ myCoins }} $</div>
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'myhand',
  data () {
    return {
      myCoins: 123456
    }
  }
}
</script>

<style lang="scss" scoped>
  $card-width: 100px;
  $card-height: calc(#{$card-width} * 1.5);
  #handsimage {
    width: 500px;
  }
  .btn {
    border-radius: 50%;
    margin: 10px;
    border: none;
    background-size: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .btn:focus {
    outline: none;
  }
  #btnFold {
    background-image:url('../assets/cancel.png');
    background-color: #e74c3c;
    border: 3px solid #e74c3c;
  }
  #btnCheck {
    background-image:url('../assets/checkmark.png');
    background-color: #1abc9c;
    border: 3px solid #1abc9c;
  }
  #btnRaise {
    background-image:url('../assets/raise.png');
    background-color: #2ecc71;
    border: 3px solid #2ecc71;
  }
  .card {
    margin: 10px;
    width:$card-width;
    height:$card-height;
    background-size: 100%;
    background-image: url('../assets/card_front_sprite.png');
  }
  #mySeat {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #myCoins {
    font-weight: bold;
    margin: 10px;
  }
  #chipImage {
    width: 19px;
    height: 19px;
    vertical-align: text-bottom;
    margin-right: 5px;
  }
</style>