<template>
  <div class="container">
    <div class="card"></div>
    <div class="card"></div>
    <div class="tabChanger">
      <div class="tabs">
        <button class="tab" @click="selectedTab='options'" 
          v-bind:class="{ selected: selectedTab=='options' }">
          Options
        </button>
        <button class="tab" @click="selectedTab='hands'"
          v-bind:class="{ selected: selectedTab=='hands' }">
          Hands
        </button>
        <button class="tab" @click="selectedTab='chat'"
          v-bind:class="{ selected: selectedTab=='chat' }">
          Chat
        </button>
        <div class="filler"></div>
      </div>
      <div class="content">
        <div class="options" v-if="selectedTab=='options'">
          <button id="btnFold">Fold</button>
          <button id="btnCheck">Check</button>
          <button id="btnRaise">Raise to</button>
          <button id="btnAllIn">All in</button>
          <button id="btnOK">OK</button>
        </div>
        <div class="hands" v-if="selectedTab=='hands'">
          <img id="handsimage" src="../assets/haende.png">
        </div>
        <div class="hands" v-if="selectedTab=='chat'">
          chat
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'myhand',
  data () {
    return {
      selectedTab: "options"
    }
  }
}
</script>

<style lang="scss" scoped>
  $card-width: 100px;
  $card-height: calc(#{$card-width} * 1.5);
  .container {
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  .card {
    margin: 5px;
    width:$card-width;
    height:$card-height;
    background-size: 100%;
    background-image: url('../assets/card_front_sprite.png');
  }
  .tabChanger {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .tabs {
    display: flex;
    border-left: 1px solid #2c3e50;
  }
  .tab {
    background-color: #bdc3c7;
    padding: 10px;
    border: 1px solid #2c3e50;
    border-left: none;
    font-size: 100%;
  }
  .tab:focus {
    outline: none;
  }
  .tab:hover {
    background-color: #ecf0f1;
  }
  .selected {
    border-bottom: none;
    background-color: white;
  }
  .selected:hover {
    background-color: white;
  }
  .filler {
    flex-grow: 100;
    border-bottom: 1px solid #2c3e50;
  }
  .content {
    padding: 10px;
    background-color: white;
    border: 1px solid #2c3e50;
    border-top: none;
  }
  .options {
    display: flex;
  }
  .options button {
    padding: 10px;
    margin: 0;
    border: none;
  }
  #btnFold {
    border: 2px solid #c0392b;
    background-color: #e74c3c;
  }
  #btnCheck, #btnRaise, #btnAllIn {
    border: 2px solid #2980b9;
    background-color: #3498db;
  }
  #btnRaise {

  }
  #btnAllIn {

  }
  #btnOK {
    background-color: #27ae60;
  }
  #handsimage {
    width: 500px;
  }
</style>