<template>
  <transition name="nameInput">
    <div id="nameInputContainer">
      <div id="description">Bitte gib deinen Namen ein: </div>
      <input  @keyup.enter="$emit('close', $event.target.value)" type="text"/>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'nameinput',
  data () {
    return {
      name: ''
    }
  }
}
</script>

<style lang="scss" scoped>
$container-height: 100px;
$container-width: 400px;

  #nameInputContainer {
    position: absolute;
    height: $container-height;
    width: $container-width;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .3s ease;
  }
  #description {
    color: #34495e;
    font-size: 150%;
  }
  input {
    color: #34495e;
    border: 2px solid #34495e;
    border-radius: 5px;
    padding: 5px;
    width: 240px;
    margin: 5px;
    text-align: center;
    font-size: 150%;
    background-color: #ecf0f1;
  }
  .nameInput-enter {
    opacity: 0;
  }
  .nameInput-leave-active {
    opacity: 0;
  }
  .nameInput-enter #nameInputContainer,
  .nameInput-leave-active #nameInputContainer {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>
