<template>
  <div>
    <div id="title">Texas Hold'em Poker</div>
    <div id="playground">
      <NameInput v-if="showNameInput" @close="handleNameInput"/>
      <div v-else>
        <Card/>
      </div>
    </div>
    <MyHand/>
    <Chat :username="username"/>
  </div>
</template>

<script>
import NameInput from './NameInput.vue'
import Card from './Card.vue'
import MyHand from './MyHand.vue'
import Chat from './Chat.vue'

export default {
  components: {
    NameInput,
    Card,
    MyHand,
    Chat
  },
  name: 'Poker',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      showNameInput: true,
      username: "Gast"
    }
  },
  methods: {
    handleNameInput(name) {
      this.username = name;
      this.showNameInput = false;
    }
  }
}
</script>

<style lang="scss">
$playground-width: 1200px;
$playground-height: 400px;

#title {
  width: 100%;
  color: #34495e;
  font-size: 200%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}
#playground {
  width: $playground-width;
  height: $playground-height;
  background-color: #27ae60;
  border-radius: 210px;
  border: 10px solid #34495e;
  margin: auto;
  margin-top: 20px;
  position: relative;
}
</style>